html, body
{
    background-color: #3E3E3E;
        height: 100%;
        margin: 0;
        padding: 0;
}

@font-face 
{
    font-family: 'Burbank Big', Condensed, Black;
    src: url(assets/fonts/burbankBigCondensedBlack.otf);
}

.title
{
    color: white;
    font-family:'Burbank Big';   
    font-size: 300%;
    text-align: center;
    
}

.secondaryTitle
{
    color: yellow;
    font-family: 'Burbank Big', Condensed, Black;
    text-align: center;
    font-size: 200%;
}

.coverImage
{

    
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
}


.introText
{
    color: white;
    font-family: 'Burbank Big'
}

nav
{
    text-align: center;
    border: 2px solid black;
}

tr
{
    border: 1px solid black;
}

.text
{
    font-size: 100%;
    padding: 15px;
}

.intro
{
    background-color: #3d02bd;
    
}
.image
{
    float: right;
    position:static
}